{% extends 'base.html' %}
  {% block content %}
  <h3 class="orange white-text center-align">All Recipes</h3>
  <div class="row">
  {% for recipe in recipes %}
    <div class="col s12 m6">
      <div class="card large">
        <div class="card-image">
          <img src="{{recipe.photo_url}}">
          <span class="card-title">{{recipe.recipe_name}}</span>
        </div>
        <div class="card-content">
          <p>{{recipe.recipe_intro}}</p>
        </div>
        <div class="card-action orange">
          <a class="orange-text white waves-effect waves-light btn" href="{{url_for('recipe_page', recipe_id=recipe._id)}}">View recipe</a>
          <a class="orange-text white waves-effect waves-light btn" href="#">{{recipe.category_name}}</a>
          <p class="white-text"><em>by: {{ recipe.created_by }}</em></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

    
    
    

  {% endblock %}
