{% extends 'base.html' %}
  {% block content %}

    {% for recipe in recipes %}
      
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{recipe.photo_url}}">
          <span class="card-title">{{recipe.recipe_name}}</span>
        </div>
        <div class="card-content">
          <p>{{recipe.recipe_intro}}</p>
        </div>
        <div class="card-action orange">
          <a class="white-text" href="{{url_for('recipe_single', recipe_id=recipe._id)}}">View recipe</a>
          <a class="white-text" href="#">{{recipe.category_name}}</a>
        </div>
      </div>
    </div>
  </div>

    {% endfor %}
    
    

  {% endblock %}
