{% extends 'base.html' %}
  {% block content %}
  
  <div class="row card-panel orange">
  <h3 class="orange white-text center-align">All Recipes</h3>
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search white-text prefix "></i>
                    <input type="text" name="query" id="query" minlength="2" class="validate" required>
                    <label class="white-text" for="query">Search Recipes</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_recipes') }}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="yellow darken-2 btn text-shadow">
                        <i class="fas fa-search yellow darken-2 left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
  {% if recipes|length > 0 %}
  <div class="row">
  {% for recipe in recipes %}
    <div class="col s12 m6">
      <div class="card large">
        <div class="card-image">
          <img src="{{recipe.photo_url}}">
          <span class="card-title">{{recipe.recipe_name}}</span>
        </div>
        <div class="card-content">
          <p>{{recipe.recipe_intro}}</p>
        </div>
        <div class="card-action orange">
          <a class="orange-text white waves-effect waves-light btn" href="{{url_for('recipe_page', recipe_id=recipe._id)}}">View recipe</a>
          <a class="orange-text white waves-effect waves-light btn" href="{{ url_for('get_categories') }}">{{recipe.category_name}}</a>
          <p class="white-text"><em>by: {{ recipe.created_by }}</em></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <h3 class="red white-text center-align">No recipe found</h3>
  {% endif %}
    
    
    

  {% endblock %}
